/* Variables de colores */
:root {
    --primary-color: #d81b60;
    --primary-hover-color: #c2185b;
    --secondary-color: #f8cdda;
    --secondary-gradient: #1fc8db;
    --text-color: #333;
    --border-color: #ccc;
    --background-color: #fff;
    --message-bg-color: #ffe4e1;
    --music-bg-color: #f0f8ff;
    --poem-bg-color: #f879bf6a;
}

/* Configuración básica */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-gradient));
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Títulos y texto */
h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

/* Encuesta */
.survey select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.survey button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.survey button:hover {
    background-color: var(--primary-hover-color);
}

.dia button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary-hover-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

/* Mensaje */
.message-area {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    background-color: var(--message-bg-color);
}

#messageOutput {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Botón "Otro mensaje" */
#newMessage {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-hover-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newMessage:hover {
    background-color: var(--primary-hover-color);
}

/* Elementos ocultos */
.hidden {
    display: none;
}

/* Contenedor de Música Recomendada */
.music-container {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--music-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.music-container h3 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.music-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.music-container ul li {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.music-container ul li a {
    color: var(--primary-hover-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.music-container ul li a:hover {
    color: var(--primary-hover-color);
}

/* Contenedor Poema para ti */
.poema-container {
    background-color: var(--poem-bg-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 0 auto;
    position: relative;
}

.poema-container h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
    text-align: center;
}

.poema-container p {
    font-size: 1rem;
    color: #555;
    text-align: center;
    line-height: 1.5;
}

/* Media Queries */
@media (max-width: 768px) {
    .music-container {
        width: 90%;
        padding: 15px;
    }

    .music-container h3 {
        font-size: 1.6rem;
    }

    .music-container ul li {
        font-size: 0.7rem;
    }

    .poema-container {
        width: 90%;
        margin-top: 20px;
    }

    .poema-container h2 {
        font-size: 1.6rem;
    }

    .poema-container p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }

    h1 {
        font-size: 2.2rem;
    }

    .survey select, .survey button, .dia button {
        font-size: 1rem;
    }

    .message-area {
        padding: 15px;
    }

    .poema-container {
        position: relative;
        width: 90%;
        left: 0;
        transform: none;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .poema-container {
        width: 250px;
    }
}
